/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
  background: #f7941e; /*Orange*/
}

.background-secondary {
  background: #00aeef; /*Blue*/
}

.background-tertiary {
  background: #8dc63f; /*Green*/
}

.background-quaternary {
  background: #c2b59b;
}

.background-quinary {
  background: #e7e1d7;
}
